@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--s: #800066;/*#ca0000;*/ /*#1f008f;*/
	--l: #ffcf30;/*#9dff00;*/ /*#ff5100;*/
	--n: color-mix(in srgb, var(--l) 50%, var(--s) 50%);
	--ns: color-mix(in srgb, var(--l) 25%, var(--s) 75%);
	--nl: color-mix(in srgb, var(--l) 75%, var(--s) 25%);
	--b0: var(--l);
	--b1: #442233;
	--a: rgb(255, 238, 0); /*accent*/
	--button-out: 2px 2px 10px var(--s), 
					-2px -2px 10px var(--l);
	--button-in-inset: inset 2px 2px 5px var(--ns);
	--button-out-inset: inset -2px -2px 10px var(--ns), 
					inset 2px 2px 10px var(--l);
	--header-h: 50px;
	--slide-top: 30px;
	--slide-left: 30px;
	--time-drop: 0.3s;
	--text-margin: 30px;

	--shadow-pos-0: 5px 5px 10px;
	--shadow-pos-1: -5px 5px 10px;
	--shadow-pos-2: 0px -5px 10px;

	--time-button-half: 0.3s;
}

::selection {
	color: var(--l);
	background: var(--s);
}

body {
	align-items: center;
	justify-content: space-around;
	background-color: var(--n);
	padding: 0px;
	font-family: Zilla Slab; /*https://learn.microsoft.com/en-us/typography/fonts/windows_11_font_list*/
	width: 100%;
	margin: 0px;
	color: var(--b1);
	flex: 1;
}

.wrapper {
	align-items: center;
	flex: 1;
	padding-inline: 5%;
}


p {
	font-size: 30px;
	font-weight: 100;
	margin-block: var(--text-margin);
	pointer-events: auto;
}
img {
	border: var(--n) 10px solid;
	box-shadow: var(--button-out);
	border-radius: 20px;
	margin: 0px;
	height: 300px;
}
iframe {
	border: var(--n) 10px solid;
	box-shadow: var(--button-out);
	border-radius: 20px;
	margin: 0px;
	height: 300px;
	pointer-events: all;
}
h1 {
	font-size: 110px;
	font-weight: 900;
	-webkit-text-stroke: var(--nl) 2px;
	text-shadow: var(--button-out);
	margin: 0px;
	padding: 0px;
	pointer-events: auto;
}
h2 {
	font-size: 80px;
	font-weight: 900;
	-webkit-text-stroke: var(--nl) 2px;
	pointer-events: auto;
	margin-block: var(--text-margin);
}
h3 {
	font-size: 4em;
	font-weight: 600;
	-webkit-text-stroke: var(--nl) 1px;
	margin-block: 0.3em;
	pointer-events: auto;
}
hr {
	width: 90%;
	height: 1px;
	border: solid;
	border-width: 2px;
	border-radius: 999px;
	color: var(--n);
	background-color: var(--n);
	box-shadow: 4px 4px 7px var(--s), 
		-4px -4px 7px var(--l);
	margin-block: 5s0px;
}
a {
	cursor: pointer;
	display: block;
	color: var(--b1);
	text-decoration: underline var(--a);
	transition: text-decoration 0.2s linear;
} a:link {
	text-decoration: underline var(--a);
} a:visited {
	text-decoration: underline var(--a);
} a:hover {
	text-decoration: underline var(--l);
} a:active {
	text-decoration: underline var(--s);
}
.textBox a {
	-webkit-text-stroke: var(--nl) 2px;
}


.generalContainer {
	max-width: 800px;
	margin-inline: auto;
	margin-block: 50px;
	border-radius: 60px;
	box-shadow: -20px -20px 60px var(--l),
			20px 20px 60px var(--s);
	padding: 60px;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.generalContainer h2 {
	font-size: 5em;
	font-weight: 600;
	-webkit-text-stroke: var(--nl) 1px;
	width: fit-content;
	margin-inline: auto;
}
.generalContainer p {
	margin-block: 5px;
	font-size: 2.4em;
	font-weight: 100;
	width: fit-content;
	margin-inline: auto;
}

.astigmatism {
	color: #ffffff;
	background-color: black;
	border-radius: 20px;
	border: var(--nl) 2px solid;
	font-size: 2em;
	font-weight: 100;
	padding-block: 0.25em;
	margin-block: var(--text-margin);
}
.astigmatism.right {
	text-shadow: #777777 -1px 0px 4px,
				#777777 -3px -3px 6px,
				#777777 -2px 3px 5px;
}
.astigmatism.left {
	text-shadow: #ffaaaa 1.5px -0.5px 1.5px,
				#aaaaff 0px 1.5px 0.5px;
}

.slideMenu {
	pointer-events: none;
	position: fixed;
	top: 0px; left: 0px;
	z-index: 4;
	size: fit-content;
}
.slideContent {
	display: block;
	z-index: 4;
	overflow: hidden;
	width: fit-content;
	height: fit-content;
	background: var(--n);
	box-shadow: var(--button-in-inset);
	border: var(--s) 10px solid;
	border-radius: 40px;
	padding: 30px;
	white-space: nowrap;
	margin: 30px;
	align-content: center;
	position: fixed;
	transform: translateX(calc(-100% - 35px)); /*margin + shadow*/
	top: 80px;
	transition: all 0.3s ease-in-out;
}
header a {
	box-shadow: var(--button-out), inset 0px 0px 0px var(--s);
	color: var(--b1);
	text-decoration: none !important;
	width: fit-content;
	padding: 10px;
	border-radius: 20px;
	font-size: 3em;
	margin: 30px;
	display: block;
	height: 60px;
	line-height: 60px;

	cursor: pointer;
	pointer-events: auto;
	transition: all 0.3s ease-out;
}
.slideContent a {
	margin: 10px;
	margin-block: 30px;
	margin-top: 10px;
}
header a:hover {
	box-shadow: 0px 0px 0px var(--s), 0px 0px 0px var(--l), inset 3px 3px 9px var(--s);
	color: var(--s);
} header a:active {
	box-shadow: inset 3px 3px 9px var(--s);
	background: linear-gradient(315deg,var(--n),var(--ns));
	color: var(--s);
}



input {
	cursor: pointer;
	pointer-events: auto;
	opacity: 0;
}
.slideMenu input {
	width: var(--header-h);
	height: var(--header-h);
	position: absolute;
	top: var(--slide-top); left: var(--slide-left);
	z-index: 5;
}
.dropText input {
	width: 200px;
	height: 220px;
	position: absolute;
	display: block;
	z-index: 3;
}


input ~ .toggleButton {
	text-decoration: none;
	cursor: pointer;
	pointer-events: auto;
	margin: 30px;
	background: var(--convex);
	color: var(--n);
	font-size: 40px;
	width: var(--header-h); 
	height: var(--header-h);
	display: block;
	line-height: var(--header-h);
	transition: all 0.3s;
}
.slideMenu input ~ .toggleButton {
	position: fixed;
	top: 0px; left: 0px;
	background: var(--n);
	border: var(--a) 5px solid;
	box-shadow: inset 3px 3px 9px var(--s);
	border-radius: 999px;
	align-items: center;
	justify-content: center;
}
header input ~ .toggleButton .menuIcon {
	background: var(--a);
	border-radius: 999px;
	padding: 0px;
	font-size: 0px;
	margin-left: 25px;
	/*-webkit-text-stroke: 5px var(--s);*/
	pointer-events: none;
	box-shadow: 2px 2px 6px var(--s), -2px -2px 6px var(--l); 
	transition: all var(--time-drop) ease-in-out;
}
.slideMenu input:hover ~ .toggleButton .menuIcon {
	padding: 5px;
	margin-left: 20px;
}
.slideMenu input:active ~ .toggleButton .menuIcon {
	padding: 10px;
	margin-left: 15px;
}
.slideMenu input:checked ~ .toggleButton .menuIcon {
	padding: calc(var(--header-h) / 2 + 1px);
	margin-left: -1px;
	box-shadow: 0px 0px 0px, 0px 0px 0px;
}


/*Checkbox*/
input:checked ~ .slideContent {
	transform: translateX(0px);
}

header input:checked ~ .toggleButton p {
	margin-left: 20px;
}






/*Text box*/
.indieText {
	margin-block: 32px;
	padding: 5px;
	width: fit-content;
	margin-inline: auto;
	color: var(--b1);
	text-align: center;
	text-wrap: balance;
}
.indieText p {
	margin-top: 20px;
}

.textBox {
	margin-block: 50px;
	margin-inline: auto;
	padding-block: 10px;
	padding-inline: 5%;
	/*background: linear-gradient(315deg,var(--ns),var(--nl));*/
	background-color: var(--n);
	border: 5px var(--n) solid;
	box-shadow: 5px 5px 10px var(--s), 
		-5px -5px 10px var(--l),
		inset -3px -3px 10px var(--l),
		inset 3px 3px 10px var(--s);
	border-radius: 40px;
	/*border-radius: 20px;*/
	text-align: center;
	text-wrap: balance;
	max-width: 800px;
	justify-content: space-around;
}




.articleBody {
	max-width: 800px;
	color: var(--b1);
	margin-inline: auto;
	overflow: hidden;
	text-align: center;
}
.articleBody p {
	font-weight: 400;
	text-align: left;
	font-size: 24px;
	line-height: 1.4em;
	color: black;
	float: right;
	margin-block: 0.35em;
}
.articleBody h2 {
	color: black;
	display: inline-block;
	margin-block: var(--text-margin);
}
.articleBody img {
	float: left;
	border: none;
	margin-right: 20px;
}



.dropText {
	margin-block: 50px;
	margin-inline: auto;
	color: var(--b1);
	/*border-radius: 20px;*/
	text-align: center;
	text-wrap: balance;
	max-width: 800px;
	pointer-events: none;
	flex: 1;
	height: fit-content;
	
	padding-top: 0px;
	padding-bottom: var(--text-margin);
	padding-inline: 5%;
	/*background: linear-gradient(315deg,var(--ns),var(--nl));*/
	background-color: var(--n);
	border: 5px var(--n) solid;
	box-shadow: 5px 5px 10px var(--s), 
		-5px -5px 10px var(--l),
		inset -3px -3px 10px var(--l),
		inset 3px 3px 10px var(--s);
	border-radius: 40px;
	justify-content: space-around;
}
.dropTextContent .dropText {
	margin-top: var(--text-margin);
	margin-bottom: 0px;
	max-width: 920px;
}
.dropTextHeader {
	margin: 0px;
	margin-inline: auto;
	padding: 0px;
	width: 100%;
}
.dropTextTitle {
	display: table-cell;
	text-align: left;
	justify-content: center;
	padding: 0px;
	padding-left: 20px;
}
.dropTextTitle h2 {
	line-height: 240px;
}
.dropTextContent {
	margin: 0px;
	margin-inline: auto;
	padding: 0px;
	width: 100%;
	height: fit-content;
	z-index: 1;
	max-height: 0px;
	overflow: hidden;
}
.dropText input {
	width: 180px;
	height: 180px;
	position: absolute;
	display: block;
	margin-left: 30px;
	margin-top: 80px;
	border-radius: 999px;
}
input:checked ~ .dropTextContent {
	display: inline-block;
	flex: 1;
	max-height: 100%;
	padding-bottom: 50px;
	overflow: visible;
}

.dropText input ~ .toggleButton {
	width: 180px;
	height: 180px;
	position: relative;
	display: block;
	float: left;
	border-radius: 999px;
	margin-top: 80px;
	box-shadow: 20px 20px 60px var(--s), 
		-20px -20px 60px var(--l), 
		inset 0px 0px 0px var(--n);
	transition: box-shadow var(--time-button-half) ease-in-out;
}
.dropText input:active ~ .toggleButton {
	background: var(--concave);
}
.dropText input:checked ~ .toggleButton {
	box-shadow: 0px 0px 0px var(--s), 
		-0px -0px 0px var(--l), 
		inset 10px 10px 20px var(--s);
	background: var(--convex);
}
.dropText input:checked:active ~ .toggleButton {
	background: var(--concave);
}


.bottom {
	padding-inline: 10px;
	padding-bottom: 10px;
	font-size: 0.8em;
	color: var(--b1);
	
}

/*Animations*/
@keyframes chromaKey {
	0% {color: #ff0000;}
	16% {color: #ffff00;}
	32% {color: #00ff00;}
	48% {color: #00ffff;}
	64% {color: #0000ff;}
	80% {color: #ff00ff;}
	100% {color: #ff0000;}
}

/*@keyframes chromaKeyShadow {
	0% {text-shadow: var(--shadow) var(--shadow-pos-0);}
	17% {text-shadow: var(--light) var(--shadow-pos-1);}
	33% {text-shadow: var(--shadow) var(--shadow-pos-2);}
	50% {text-shadow: var(--light) var(--shadow-pos-0);}
	67% {text-shadow: var(--shadow) var(--shadow-pos-1);}
	83% {text-shadow: var(--light) var(--shadow-pos-2);}
	100% {text-shadow: var(--shadow) var(--shadow-pos-0);}
}*/