@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--l0: #ffdd00;
	--l1: #ff00dd;
	--d0: #997700;
	--d1: #990066;
	--s1: #660033;
	--bb: #000000;
	--b0: #111111;
	--b1: #ffffff;
	--b2: #888888;
	--border-thin: 1px solid;
	--border-med: 1px solid;
	--header-h: 100px;
	--time-drop: 0.3s;
}

::selection {
	background: var(--b1);
	color: var(--b0);
}

body {
	align-items: center;
	justify-content: space-around;
	background-color: var(--b0);
	padding: 0px;
	font-family: "Zilla Slab"; /*https://learn.microsoft.com/en-us/typography/fonts/windows_11_font_list*/
	width: 100%;
	margin: 0px;
	margin-top: calc(var(--header-h));
}

hr {
	width: 90%;
	height: 1px;
	border-width: 0px;
	color: var(--b2);
	background-color: var(--b2);
	margin-block: 50px;
}
img {
	border: var(--b1) var(--border-thin);
	margin-block: 2em;
	height: 300px;
}
p {
	font-size: 20px;
	font-weight: lighter;
	margin-block: 0px;
}
h1 {
	animation-name: "chromaKeyShadow";
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	font-size: 100px;
	font-weight: bolder;
}
h2 {
	font-size: 60px;
	color: var(--l1);
	margin-bottom: 30px;
	margin-top: 0px;
}
h3 {
	font-size: 40px;
	color: var(--l0);
	margin-bottom: 0em;
	margin-top: 0px;
}
a {
	cursor: pointer;
	display: block;
	color: var(--l0);
}
a:link {
	color: var(--l0);
}
a:visited {
	color: var(--l0);
}
a:hover {
	color: var(--l1);
}
a:active {
	color: var(--b1);
}

.blurredBackground {
	background: center radial-gradient(#444444,var(--b0));
	width: 100%;
	margin: 0px;
	height: 100%;
	/*filter: blur(100px);*/
	position: fixed;
	top: 0px;
	z-index: -1;
}

.menuAndBar {
	position: fixed;
	top: 0px; left: 0px;
	height: var(--header-h);
	width: 100%;
	border-bottom: var(--b1) var(--border-med);
	z-index: 1;
}
.bar {
	position: inherit;
	height: inherit;
	padding: 0px;
	background-color: var(--b0);
	align-items: center;
	justify-content: left;
	float: left;
	width: calc(100% - var(--header-h));
	white-space: nowrap;
	color: var(--b1);
	overflow: scroll;
	display: table-cell;
	margin-left: var(--header-h);
}
.barItem {
	font-size: 40px; /*40px 3vw*/
	padding: 10px; /*10px 1vw*/
	margin: 10px; /*10px 1vw*/
	margin-right: margin/2;
	/*float: left;*/
	display: inline-block;
	height: calc(var(--header-h) - 40px);
	line-height: calc(var(--header-h) - 40px);
	margin-top: calc(var(--header-h) - 90px);
}
.bar p {
	width: fit-content;
	font-weight: bolder;
}
.bar a {
	background-color: var(--l0);
	color: var(--b0);
	text-decoration: none;
	/*border-radius: 1vw;*/
	width: fit-content;
	padding: 10px;
	border: var(--b1) var(--border-med);
	border-color: var(--b0);
	transition: all 0.2s ease-out;
}

.dropMenu {
	pointer-events: none;
	height: inherit;
	display: table-cell;
	float: left;
}
.dropText {
	margin-bottom: 100px;
	margin-inline: auto;
	width: calc(100% - margin-inline / 2);
	background-color: var(--b0);
	color: var(--b1);
	/*border-radius: 20px;*/
	text-align: center;
	text-wrap: balance;
	border: var(--b1) var(--border-med);
	max-width: 800px;
	pointer-events: none;
}
.dropTextHeader {
	margin: 0px;
	margin-inline: auto;
	padding: 0px;
	width: 100%;
	display: table-row;
}
.dropTextButtonSpace {
	width: 200px;
	display: table-cell;
	text-align: left;
}
.dropTextTitle {
	display: table-cell;
	text-align: left;
	padding: 30px;
	height: 220px;
}
.dropTextContent {
	margin: 0px;
	margin-inline: auto;
	padding: 0px;
	width: 100%;
	z-index: 1;
	max-height: 0px;
	overflow: hidden;
	transition: max-height var(--time-drop) ease-in-out;
}


input {
	cursor: pointer;
	pointer-events: auto;
	opacity: 0;
	z-index: 3;
}
.dropMenu input {
	width: var(--header-h);
	height: var(--header-h);
	position: absolute;
}
.dropText input {
	width: 200px;
	height: 220px;
	position: absolute;
	display: block;
}

input ~ .toggleButton {
	text-decoration: none;
	/*border-radius: 1vw;*/
	transition: all 0.3s;
	cursor: pointer;
	pointer-events: auto;
}
.dropMenu input ~ .toggleButton {
	background-color: var(--l0);
	color: var(--b0);
	font-size: 40px;
	width: var(--header-h);
	height: 100%;
	display: block;
	line-height: var(--header-h);
}
.dropText input ~ .toggleButton {
	background-color: var(--b0);
	color: var(--b1);
	font-size: 40px;
	width: 200px;
	height: 220px;
	border-right: var(--border-thin);
	position: absolute;
	display: block;
	line-height: 220px;
}

input ~ .toggleButton p {
	font-size: 70px;
	margin: 0px;
	text-align: center;
	transform: rotate(0deg);
	transition: transform var(--time-drop) ease-in-out;
}

.dropMenu a {
	cursor: pointer;
	background-color: var(--l0);
	color: var(--b0);
	font-size: 40px;
	text-decoration: none;
	transition: all 0.3s;
	pointer-events: auto;
	width: var(--header-h);
	height: 100%;
}
.dropContent {
	display: inline-block;
	position: absolute;
	background-color: var(--b0);
	z-index: 1;
	max-height: 0px;
	overflow: hidden;
	transition: max-height var(--time-drop) ease-in-out;
	width: calc(fit-content);
	border-bottom: var(--b1) var(--border-med);
	border-right: var(--b1) var(--border-med);
}
.dropContent a {
	font-size: 40px;
	padding: 8px;
	width: inherit;
	border-bottom: 10px solid var(--b0) !important;
	border-right: 10px solid var(--b0) !important;
}
.dropContent a:hover {
	background-color: var(--b0);
	color: var(--l1);
	border-width: 0px;
}
header a:hover {
	background-color: var(--b0);
	color: var(--l1);
	border: var(--b1) var(--border-med);
}

/*Checkbox*/
input:checked ~ .dropContent {
	display: inline-block;
	max-height: calc(237%);
}
input:checked ~ .dropTextContent {
	display: inline-block;
	max-height: calc(100%);
	padding-bottom: 50px;
}
.dropMenu input:checked ~ .toggleButton {
	background-color: var(--b0);
	color: var(--l0);
}
.dropText input:checked ~ .toggleButton {
	padding-top: 25px;
	padding-bottom: 25px;
}
input:checked ~ .toggleButton p {
	transform: rotate(90deg);
	transition: transform var(--time-drop) ease-in-out;
}
.dropMenu input:checked:hover ~ .toggleButton {
	background-color: var(--b0);
	color: var(--l1);
}
.dropMenu input:hover ~ .toggleButton {
	background-color: var(--l1);
	color: var(--b0);
}





/*Text box*/
.indieText {
	margin-block: 25px;
	margin-inline: 50px;
	padding: 5px;
	width: calc(100% - margin-inline / 2);
	color: var(--b1);
	text-align: center;
	text-wrap: balance;
}
.textBox {
	margin-bottom: 100px;
	margin-inline: auto;
	padding-block: 50px;
	padding-inline: 5%;
	width: calc(100% - margin-inline / 2);
	background-color: var(--b0);
	color: var(--b1);
	/*border-radius: 20px;*/
	text-align: center;
	text-wrap: balance;
	border: var(--b1) var(--border-med);
	max-width: 800px;
}



.bottom {
	padding-inline: 10px;
	font-size: 10px;
	padding-top: 50px;
	color: var(--b1);

}

/*Animations*/
@keyframes chromaKey {
	0% {color: #ff0000;}
	16% {color: #ffff00;}
	32% {color: #00ff00;}
	48% {color: #00ffff;}
	64% {color: #0000ff;}
	80% {color: #ff00ff;}
	100% {color: #ff0000;}
}

@keyframes chromaKeyShadow {
	0% {text-shadow: #ff0000 0px 0px 50px;}
	16% {text-shadow: #ffff00 0px 0px 50px;}
	32% {text-shadow: #00ff00 0px 0px 50px;}
	48% {text-shadow: #00ffff 0px 0px 50px;}
	64% {text-shadow: #0000ff 0px 0px 50px;}
	80% {text-shadow: #ff00ff 0px 0px 50px;}
	100% {text-shadow: #ff0000 0px 0px 50px;}
}